.warpper-tippy{
    width: 111px;
    height: 38px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
}